* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


nav{
    padding-top: 15px;
}



.dada{
    display: flex;
    justify-content: center;

}


.lola{
    font-weight: 400;
    font-size: 12px;
    color: #969696;
    margin-left: 40px;
}


.fa-sharp{
    color: white;
    font-size: 15px;
}


.chiqish{
    display: flex;
    margin-left: 280px;
}


.shabona{
    margin-left: 30px;
    font-weight: 400;
    font-size: 12px;
    text-align: right;
    color: #969696;
}



.parot{
    font-weight: 700;
    font-size: 36px;
    color: #FFFFFF;
    margin-left: 150px;
    padding-bottom: 16px;
}


.list{
    display: flex;
    margin-left: 60px;
}


.list_iteam{
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #969696;
    margin-left: 40px;
    margin-top: 15px;
}


.list_iteam:hover{
    padding: 20px 29px;
    background: #1F1F1F;
    margin-top: -10px;
    margin-bottom: -5px;
}


.ave{
    margin-left: 30px;
    font-size: 18px;
}


.icomka{
    margin-top: 13px;
}


.fronted{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 80px;
}


.dadaad{
    width: 320px;
    height: 300px;
    border: 4px solid #FFFFFF;
    margin-bottom: 80px;
}


.saldat{
    display: flex;
    justify-content: center;
    margin-top: 160px;
}


.fdfdfgf{
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}


.sasasasas{
    background: url(./img/Rectangle\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.eldor{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 155px;
}


.sezon{
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 95px;
    margin-bottom: 100px;
}


.soat{
    margin-top: 60px;
    margin-left: 22px;
}


.cardd{
    background: #191B1C;
    margin-bottom: 25px;
    width: 260px;
    height: 325px;
}


.foll{
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}


.davron{
    font-size: 16px;
    line-height: 19px;
    color: #D0D0D0;
}


.davronn{
    font-size: 16px;
    line-height: 19px;
    color: #D0D0D0;
    margin-bottom: 150px;
}


.dinov{
    display: flex;
    justify-content: center;
}


.kastyum{
    width: 640px;
    height: 500px;
    margin-top: 90px;
    margin-bottom: 120px;
}


.golane{
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 80px;
}


.folbin{
    margin-top: 120px;
    text-align: center;
}


.coco{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-bottom: 70px;
}


.reulan{
    padding: 12px 50px;
    background: transparent;
    border: 2px solid;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.hash{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 120px;
}


.nashiy{
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 60px;
    margin-bottom: 80px;
}


.light{
    margin-bottom: 80px;
}


.plamga{
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}


.loram{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}


.pablo{
    margin-top: 80px;
    margin-bottom: 100px;
    margin-left: 100px;
}


footer{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.gol{
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}


.btn15{
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #D0D0D0;
    background: #0F0F0F;
    border: none;
}


.btn16{
    padding: 10px 20px;
    font-weight: 400;
    font-size: 14px;
    color: #D0D0D0;
    background: #0F0F0F;
    border: none;
    margin-left: 20px;
}


.btn18{
    padding: 10px 40px;
    font-weight: 400;
    font-size: 14px;
    color: #D0D0D0;
    background: #0F0F0F;
    border: none;
    margin-top: 30px;
}


.hader{
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 37px;
}


.check{
    background: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 14px;
}


.gmail{
    font-weight: 400;
    font-size: 12px;
    color: #D0D0D0;
    margin-top: 17px;
    margin-left: 200px;
}




















